/* hide CG button */
span[widgetid=hidecg-btn] {
  position:relative;
  top: -1px;
}
#hidecg-btn{
  /* CG color: A36085 */
  height: 17px;
  width: 17px;
  background-image: url("../img/cg_enabled.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#hidecg-btn[hidden-cg] {
  background-image: url("../img/cg_disabled.png");
} 

/* hide CHG button */
span[widgetid=hidechg-btn] {
  position:relative;
  top: -1px;
}
#hidechg-btn{
  /* CHG color: 0072B2 */
  height: 17px;
  width: 17px;
  background-image: url("../img/chg_enabled.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#hidechg-btn[hidden-chg] {
  background-image: url("../img/chg_disabled.png");
} 

/* hide CHH button */
span[widgetid=hidechh-btn] {
  position:relative;
  top: -1px;
}
#hidechh-btn{
  /* CHH color: CF8F00 */
  height: 17px;
  width: 17px;
  background-image: url("../img/chh_enabled.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#hidechh-btn[hidden-chh] {
  background-image: url("../img/chh_disabled.png");
} 

/* hide CH button */
span[widgetid=hidech-btn] {
  position:relative;
  top: -1px;
}
#hidech-btn{
  /* CH color: 88c043 */
  height: 17px;
  width: 17px;
  background-image: url("../img/ch_enabled.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#hidech-btn[hidden-ch] {
  background-image: url("../img/ch_disabled.png");
}

tr.track-cg-checkbox span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-cg.png")
}
tr.track-ch-checkbox span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-ch.png")
}
tr.track-chg-checkbox span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-chg.png")
}
tr.track-chh-checkbox  span.dijitInline.dijitIcon.dijitMenuItemIcon.dijitCheckedMenuItemIcon{
    background-image: url("../img/checkmark-chh.png")
}
